::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #373737; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #484848; }

:root {
  --swal2-color: #ffffff !important;
  --swal2-background: #171717 !important;
  --swal2-padding: 0px !important;
  --swal2-title-padding: 20px !important;
  --swal2-html-container-padding: 20px !important;
  --swal2-actions-padding: 20px !important;
  --swal2-actions-margin: 0px !important;
  --swal2-confirm-button-background-color: #007bff !important;
  --swal2-cancel-button-background-color: #484848 !important;
}

body { display: flex; flex-direction: column; font-family: BlinkMacSystemFont, Helvetica, Arial, sans-serif; margin: 0; padding: 0; background-color: #000000; color: #ffffff; }
header { display: flex; justify-content: space-between; align-items: center; background-color: #171717; border-bottom: 1px solid #2f2f2f; padding: 5px 7px; }
content { display: flex; }
aside { display: flex; flex-direction: column; justify-content: space-between; flex: 1; height: calc(100dvh - 44px); background-color: #171717; border-right: 1px solid #2f2f2f; }
main { display: flex; flex-direction: column; gap: 100px; flex: 5; padding: 20px; height: calc(100dvh - 84px); overflow: overlay; font-size: 30px;}

button { background: none; border: none; color: #ffffff; font-size: 22px; cursor: pointer; padding: 5px; }
button:disabled { opacity: 0.2; }
button:disabled:hover { color: #ffffff !important; cursor: default; }
button .bi { display: block; height: 22px; }
button:hover:not(.swal2-styled) { color: #007bff; }
mark { background-color: #007bff; color: #ffffff; }

input[type="text"] { background-color: #000000; color: #ffffff; border: 1px solid #2f2f2f; border-radius: 4px; padding: 5px 10px; font-size: 14px; }
input[type="text"]:focus { outline: none; border-color: #007bff; box-shadow: none; }

header input { width: 300px; }

aside.collapsed { display: none; }
aside #videoWrapper { flex: 4; overflow: hidden; }
aside #tagWrapper { flex: 1; overflow: hidden; }
aside h4 { color: #858585; margin: 0px; padding: 15px; padding-bottom: 5px; font-size: 20px; }
aside section { display: flex; flex-direction: column; }
aside #videoList, aside #tagList { height: calc(100% - 43px); overflow: overlay; }
aside #videoList a { display: flex; flex-direction: column; gap: 2px; color: #ffffff; text-decoration: none; padding: 10px 15px; cursor: pointer; }
aside #tagList a { display: flex; gap: 2px; color: #ffffff; text-decoration: none; padding: 5px 15px; cursor: pointer; }
aside a.active { background-color: #2f2f2f; }
aside a:hover { background-color: #2f2f2f; }
aside .video-title { font-weight: bold; }
aside .video-subtitle { color: #858585; font-size: 14px; margin-bottom: 3px; }
aside .video-tags { display: flex; align-items: center; gap: 4px; line-height: 11px; }
aside .tag-title { font-weight: bold; flex: 1; text-transform: uppercase; color: #ffffff; }

/* NORMAL VIEW */
main section { display: flex; gap: 20px; }
main .video-player { flex: 1; }
main .video-player video { width: 100% }
main .video-info { display: flex; flex-direction: column; gap: 10px; position: sticky; top: 0px; text-transform: uppercase; }
main .video-tags { display: flex; gap: 5px; }
main .video-segment { flex: 3; display: flex; flex-direction: column; gap: 30px; }
main .tags { flex: 1; display: flex; flex-direction: column; align-items: end; flex-wrap: wrap; gap: 10px; height: min-content; padding-top: 8px;}
main .tags .pill { font-size: 12px; }
main .tags .pill.add { background-color: #2f2f2f; }
main .tags .speaker { font-size: 14px; background-color: #ab8000; margin-bottom: 10px; font-weight: bold; line-height: 16px; }
main .text { flex: 8; }
main .text span:hover { color: #87aac8; }
main .text .highlight { color: #72bdff; }

/* TRAINING VIEW */
main section.training { height: 100%; flex-direction: column; align-items: center; justify-content: center; gap: 50px;}
main section.training .video-info { align-items: center; gap: 20px; }
main section.training .video-count { display: flex; gap: 20px; font-size: 20px; }
main section.training .video-player { flex: none; }
main section.training .video-player video { width: 480px; }
main section.training .video-sentence { display: flex; flex-direction: column; gap: 20px; width: 80% }
main section.training .video-sentence textarea { background: #000000; color: #ffffff; border: none; resize: none; outline: none; font-size: 50px; font-family: BlinkMacSystemFont; text-align: center; }
main section.training .video-sentence #save-sentence { width: 100%; font-size: 50px;}
main section.training .video-sentence #save-sentence:disabled { opacity: 0; }
main section.training .video-sentence .training-buttons { margin-top: 120px; display: flex; justify-content: center; gap: 20px; }
main section.training .video-sentence .training-buttons button { display: flex; gap: 10px; justify-content: center; font-size: 30px; font-weight: bold; padding: 20px; border-radius: 6px; width: 200px; }
main section.training .video-sentence .training-buttons button:hover { color: #ffffff; }
main section.training .video-sentence .training-buttons #training-good { background-color: #007bff; }
main section.training .video-sentence .training-buttons #training-bad { background-color: #2f2f2f; }

.pill { cursor: pointer; background-color: #007bff; font-size: 10px; padding: 2px 6px; border-radius: 10px; width: fit-content; }
